.todo {
  text-align: left;
  width: 250px;
  height: fit-content;

  padding: 2px 6px;
  background: white;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.none {
  display: none;
}


.text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.delete {
  width: 22px;
  height: 22px;
}